html {
    height: 100%;
}


body {
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template:  'header' 2fr
                    'content' 15fr
                    'footer' 1fr
                    / 1fr;
}


header {
    grid-area: header;
    background-color: red;
}

.content {
    grid-area: content;
    background-color: royalblue;
    display: grid;
    grid-template: 'left' 100% 'middle' 'right' 
                    / 1fr 3fr 1fr
}

.left-block, .right-block {
    background-color: tan;
}

footer {
    grid-area: footer;
    background-color: green;
}