.season-display {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.latitude {
	margin: 0;
}

.icon-left {
	position: absolute;
	left: 10px;
	top: 10px;
}

.icon-right {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.winter i {
	color: blue;
}

.summer i {
	color: red;
}

.winter {
	background-color: aliceblue;
}

.summer {
	background-color: orange;
}

